.button-container {
    position: relative;
    display: inline-block;
}

/* Basic button styling */
.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.popup-text {
    visibility: hidden;
    width: 100px;
    background-color: #5fd065;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 105%; /* Position to the right of the button */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the popup text when hovering over the button */
.button-container:hover .popup-text {
    visibility: visible;
    opacity: 1;
}