.navbar p,
.navbar li,
.navbar a,
.navbar button,
.menu-list li,
.menu{
  text-transform: uppercase;
	background: linear-gradient(to right, #3d2340 0%,#962ca1, #0da54a 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: "Comic Neue", cursive;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
  
  .menu-nav,
  .currency-menu {
    display: none;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-down {
    animation: slideDown 0.5s ease-out forwards;
  }
  
  .menu-nav.active {
    display: table-column;
  }
  
  .menu-list li{
    border-bottom:0.5px solid rgba(0, 0, 0, .3);
    padding: 10px;
  }
  
.h{
  border-top: 0.5px solid rgba(0, 0, 0, .3);
}

  .menu-list li{
    font-family: "Comic Neue", cursive;
    color: purple;
  }